/*Intro Page */
:root{
    cursor: none;
}
a{
    color: black;
}

.top {
    text-align: center;
    font-family: "arial", sans-serif;
    font-weight: bold;
    font-size: 25px;
    background-color: rgb(35, 141, 222);
    border: 10px black;
    border-color: black;

}
body{
    background-color: rgb(32, 34, 206);
}
#me {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}
/*Adobe express*/
#TitleOfAdobeEX{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 5px solid black;
    border-color: rgb(0, 0, 0); 
background-color: aquamarine;
}
#follow-image{
    z-index: 9999999;
    position: absolute;
    width: auto;
    height: 60px;
    pointer-events: none;
    transition: transform 0.2s ease-out;
}
.listEX{
    z-index: 500;
    display: block;
}
h1, #me, a:hover{
      background: linear-gradient(
        to right,
        rgb(250,78,10),
        rgb(247,12,204),
        rgb(0,106,255),
        rgb(248,48,255),
        rgb(250,78,10)
    );
    background-clip: text;
    color: transparent;
    background-size: 200% auto;
    animation: change 3s linear infinite;
}
@keyframes change{
    0%{
        background-position: 200% 50%;
        }
    100%{
        background-position: 0% 50%;
        }
}
li{
    text-align: center;
    justify-content: center;
}
.mod{
    visibility: hidden;
}