h1{
    text-align: center;
}
.pic{
   width: fit-content;
   height: fit-content;
   position: fixed;
}
:root {
  background-color: blue;
}
body{
  position: relative;
}
.back button {
  background-color: var(--dynamic-color);
  transition: background-color 0.3s ease;
  color: rgb(0, 0, 0);
  border: black;
  border-width: 5px;
  font-size: 16px;
}
.back{
  border: 5px;
}

#follow-image{
    z-index: 99999;
    position: absolute;
    width: auto;
    height: 60px;
    pointer-events: none;
    transition: transform 0.2s ease-out;
}
img {
  max-width: 100%; /* Ensures the image doesn't exceed its container's width */
  height: auto;    /* Maintains the aspect ratio */
  display: block;  /* Removes extra space below the image */
}